:root {
  --dark-bg-color: #1f2937;
  --main-text-color: #f9faf8;
  --secondary-text-color: #e5e7eb;
  --button-color: #3882f6;
  --dark-text-color: #1f2937;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
  background-color: var(--dark-bg-color);
}

nav .logo a {
  color: var(--main-text-color);
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
}

nav .nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}
nav .nav-links li a {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-size: 18px;
}

.hero {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 150px;
  height: 50vh;
  background-color: var(--dark-bg-color);
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}

.hero .container h1 {
  font-size: 48px;
  font-weight: 900;
  color: var(--main-text-color);
}

.hero .container p {
  width: 50%;
  font-size: 18px;
  color: var(--secondary-text-color);
}

.hero .container .btn {
  padding: 10px 30px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 900;
  background-color: var(--button-color);
  color: var(--main-text-color);
}
.hero img {
  width: 800px;
  height: 500px;
  background-size: cover;
  background-position: center;
}

.info {
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  gap: 50px;
}

.info h1 {
  margin: auto 0;
  font-size: 48px;
  font-weight: 900;
  color: var(--dark-text-color);
}

.info .card-container {
  display: flex;
  gap: 100px;
}

.info .card-container .card-wrapper {
  display: flex;
  width: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-wrapper p {
  padding: 10px 0;
  color: var(--dark-text-color);
  font-size: 16px;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-radius: 15px;
  border-color: var(--button-color);
  padding: 20px;
  width: 200px;
  height: 200px;
}

.quote {
  padding: 80px 20px;
  background-color: var(--secondary-text-color);
}

.quote-inner {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 80px 0;
  margin: 0 auto;
  background: transparent; /* important */
}
.quote blockquote {
  font-style: italic;
  font-size: 36px;
  font-weight: 300;
  color: var(--dark-text-color);
  text-align: left;
}

.quote cite {
  margin-top: 50px;
  font-size: 36px;
  font-weight: 500;
  color: var(--dark-text-color);
  align-self: flex-end;
}

.cta {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px 20px;
}

.cta .container {
  color: var(--secondary-text-color);
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 50%;
  background-color: var(--button-color);
  border-radius: 15px;
}

.cta .container h1 {
  font-size: 36px;
  font-weight: 900;
}

.cta .container p {
  font-size: 18px;
  font-weight: 300;
}

.cta .container .btn {
  padding: 20px 40px;
  border: #e5e7eb 2px solid;
  border-radius: 10px;
  color: var(--secondary-text-color);
  text-decoration: none;
  font-size: 18px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-text-color);
  height: 10vh;

  background-color: var(--dark-bg-color);
}

.footer p {
  font-size: 24px;
}
